.niflveil.background {
    background-color: rgba(88,67,113,.70);
    border-radius: 8px;
    border: 2px solid #ffffff;
}

.niflveil .header {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
}

.niflveil .title {
    font-size: 120%;
    font-weight: bold;
    margin-right: 1rem;
    color: #ffffff;
}

.niflveil .window-preview {
    min-width: 200px;
    min-height: 150px;
    border-radius: 8px;
    margin: 0.5rem;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: rgba(88,67,113,.50);
}

.niflveil .window-icon {
    font-size: 24px;
    color: #cd9ae5;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 8px;
}

.niflveil .window-item {
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bold;
    border-radius: 8px;
    transition: all 200ms ease;
    border: 1px solid transparent;
}

.niflveil .window-item:hover {
    background: #7a5a95;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.niflveil .window-content {
    padding: 0.5rem;
}

.niflveil .window-info {
    padding: 0.5rem 1rem;
}

.niflveil .window-title {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.niflveil .window-class {
    font-size: 12px;
    color: #ffffff;
    opacity: 0.8;
}


.niflveil .window-stats {
    font-size: 12px;
    color: #cd9ae5;
    margin-left: 1rem;
    padding: 4px 8px;
    background-color: rgba(88,67,113,.50);
    border-radius: 4px;
}

