
$overlay-background-color: rgba(88,67,113,.70);
$border-color: #ffffff;
$border-radius: 8px;

.niflveil.background {
    background-color: $overlay-background-color;
    border-radius: $border-radius;
    border: 2px solid $border-color;
}

.niflveil .header {
    padding: 1rem;
    border-bottom: 1px solid $border-color;
}

.niflveil .title {
    font-size: 120%;
    font-weight: bold;
    margin-right: 1rem;
    color: #ffffff;
}

.niflveil .window-item:not(:first-child) {
    font-weight: bold;
    transition: all 200ms ease;
    border-top: 1px solid #ffffff;
}

.niflveil .window-item:hover {
    background: #7a5a95;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.niflveil .window-title {
    font-size: 14px;
    padding: 14px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

