.niflveil .background {
    background-image: linear-gradient(#2E3440, #3B4252, #2E3440);
    border-radius: 12px;
    border: 2px solid #434C5E;
}

.niflveil .header {
    background: transparent;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #434C5E;
}

.niflveil .title {
    font-size: 120%;
    font-weight: bold;
    margin-right: 1rem;
}

.niflveil .close-btn {
    color: #ACABB4;
    min-width: 0.8rem;
    border-radius: 90%;
    font-size: 0.9rem;
    background: transparent;
    box-shadow: 1px 1px 1px #000000;
}

.niflveil .close-btn:hover {
    font-weight: bold;
    background: #4C566A;
    color: #ECEFF4;
}

.niflveil .window-preview {
    min-width: 200px;
    min-height: 150px;
    border-radius: 8px;
    margin: 0.5rem;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: #2E3440;
}

.niflveil .window-icon {
    font-size: 24px;
    color: #88C0D0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 8px;
}

.niflveil .window-item {
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bold;
    border-radius: 8px;
    transition: all 200ms ease;
}

.niflveil .window-item:hover {
    background: #434C5E;
    border: 1px solid #434C5E;
    border-color: #88C0D0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.niflveil .window-content {
    padding: 0.5rem;
}

.niflveil .window-info {
    padding: 0.5rem 1rem;
}

.niflveil .window-title {
    font-size: 14px;
    font-weight: bold;
    color: #ECEFF4;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.niflveil .window-class {
    font-size: 12px;
    color: #D8DEE9;
    opacity: 0.8;
}


.niflveil .window-stats {
    font-size: 12px;
    color: #81A1C1;
    margin-left: 1rem;
    padding: 4px 8px;
    background-color: #3B4252;
    border-radius: 4px;
}

.niflveil .restore-all-btn {
    background: #434C5E;
    background-image: linear-gradient(#2E3440, #3B4252, #2E3440);
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease;
}

.niflveil .restore-all-btn:hover {
    border-color: #88C0D0;
    color: #ECEFF4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

